body {
    background-image: url(back.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.content{
    background: white;
    width: 50%;
    padding: 40px;
    margin: 100px auto;
}
p {
    font-size: 25px;
    color: black;
}
